.page-body {
  display: grid;
  grid-template-rows: auto 1fr;
  min-height: calc(100dvh - 4rem);

  > .contents {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    justify-items: center;
    padding: 1rem;
    border: $gray 1px solid;
    border-radius: 1rem;
    width: 100%;
    height: 100%;

    > .component {
      display: flex;
      align-items: flex-start;
      justify-content: center;
      width: 100%;
      height: 100%;
      padding: 2rem 0;
    }
  }

  h1 {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 1rem;
  }
}

@include media-query-sp {
  .page-body {
    > .contents {
      grid-template-columns: 1fr;
      grid-template-rows: 1fr auto;
    }
  }
}
